
@model IEnumerable<webBinh.Models.Project>
@{
    ViewBag.Title = "index";
}
<style>
    .title_box{
        text-align:center;
    }
    .menu {
        border: solid 1px;
        justify-content: center;
        box-sizing: border-box;
        width: 25%;
        float: left;
    }
    .menu ul {
        list-style-type: none;
        padding:0;
        box-sizing:border-box;
    }
    .menu li {
        width: 95%;
        height: 40px;
        margin: 10px;
        padding: 0 10px;
        background-color: aquamarine;
        border: solid 1px;
        line-height: 40px;
        white-space: nowrap; /* Không cho phép xuống dòng */
        overflow: hidden; /* Ẩn phần văn bản tràn ra ngoài */
        text-overflow: ellipsis;
        border-radius:20px;
        
    }
    .menu li a {
        color: blue; /* Màu chữ đỏ cho liên kết */
        text-decoration: none; /* Loại bỏ gạch dưới */
    }

    .add {
        width: 50px;
        height: 30px;
        border-radius: 5px;
        background-color: blue;
        text-align: center;
        color: white;
        margin: 0 auto;
    }
</style>
<div class="menu">
    <div class="title_box">Project của tôi</div>
    <ul class="left_menu">
        @foreach (var item in Model)
        {
            <li style="display: flex; justify-content: space-between; align-items: center;">
                <span>@Html.ActionLink(item.title, "column", new { id_project = item.id_project, sdt = "0839976113" })</span>
                <span>
                    @Html.ActionLink("Sửa", "editProject", new { id = item.id_project }, new { style = "color: blue; text-decoration: none;" })
                </span>
            </li>
        }
    </ul>
    @{ 
        webBinh.Models.Project x = null;
    }
    <div class="add">
        @Html.ActionLink("+", "createProject", new { project =x })
    </div>

</div>
